* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    position: absolute;
    background-color: burlywood;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 600px;
    perspective-origin: top right;
}


.child {
    width: 90%;
    height: 90%;    
    background-color: rgb(0 0 0  / 35%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin: 5%;
    transition: 1s;
}

.child:hover {
    transform: translate3d(0, 0, 260px);
}

h2 {
    position: absolute;
    top: 66%;
    left: 39%;
}