* {
    box-sizing: border-box;
}

.outside {
    display: flex;
    background-color: yellow;
    width: 800px;
    padding: 10px;
    margin: 20px auto;
}

.outside div {
    background-color: brown;
    color: white;
    width: 80px;
    text-align: center;
    padding 10px;
    margin-right: 5px;
}