* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    background-color: yellow;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, auto)
}

.parent div {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}